@model bartender.Models.orderDrinks

@{
    ViewData["Title"] = "Create";

    var availableDrinks = ViewBag.AvailableDrinks as IList<drinkList>;
 
}

<h2>Order Portal</h2>

<form>
    <h4>Place your order here</h4>
    <div class="form-group">
        @Html.Label("Name:")
        @Html.TextBox("CustName")
        </div>
    <div class="form-group">
       
        @Html.Label("Drink:")
        @Html.DropDownListFor(v => v.Drink, new SelectList(availableDrinks, "ID","Drink"), "--Select Drink--")



    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
