@model bartender.Models.orderDrinks

@{
    ViewData["Title"] = "FillOrder";

}

<h2>Fill Order</h2>
<form asp-action="FillOrder">
    <p>
        Please confirm that order number <strong>@Model.ID</strong> is complete
        
    </p>

    @using (Html.BeginForm())
    {
        <p>
                    <input type="submit" value="Fill Order" />
            </p>


    }
</form>
<a asp-action="Index">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
