@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome to My Bar!</h1>
<h2>Please select the Customer or Bartender program below</h2>

<font size="8">
    <p>
        @Html.ActionLink("Customer", "Index", "orderDrinks/create")
        </p>
    <p>
        @Html.ActionLink("Bartender", "Index", "orderDrinks")

    </p>
</font>